html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

h1 {
    font-size: 36px;
    padding: 10px;
}

h2 {
    font-size: 24px;
    padding: 10px;
}

li {
    float: left;
    padding: 10px 40px;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#buttons {
    font-size: 48px;
}